version: "3"
services:
    test:
        image: epix0r/microblog:test
        container_name: "microblog_test"
        ports:
            - "8000:5000"
        volumes:
            - "./:/home/microblog"
    prod:
        image: epix0r/microblog:prod
        container_name: "microblog_production"
        ports:
            - "8000:5000"
        restart:
            "always"
