version: 2.1

jobs:
  deploy_ansible:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install-deploy
      - run:
          name: Run ansible playbooks
          command: |
            python3 -m venv venv
            . venv/bin/activate
            cd ansible
            ansible-playbook gather_vm_instances.yml setup_appServer.yml
  build_docker:
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Create Docker Image
          command: |
            docker build -t $DOCKERHUB_USERNAME/microblog -f docker/Dockerfile_prod .
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push $DOCKERHUB_USERNAME/microblog:latest
  test:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install-dev
      - run:
          name: run tests
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make test
workflows:
  main:
    jobs:
      - test:
          name: test
          filter:
            branches:
              only:
                - master
                - development
      
      - build_docker:
          name: build
          requires: [test]
          filters:
              tags:
                only: /^v.*/
              branches:
                ignore: /.*/

      - deploy_ansible:
          name: deploy
          requires: [build]
          filters:
              tags:
                only: /^v.*/
              branches:
                ignore: /.*/