version: 2.1

jobs:
  deploy_ansible:
    docker:
      - image: circleci/python:3.7
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install-deploy
      - run:
          name: Run ansible playbooks
          command: |
            python3 -m venv venv
            . venv/bin/activate
            cd ansible
            ansible-playbook provision_instances.yml
  test:
    docker:
      - image: circleci/python:3.7
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install-dev
      - run:
          name: run tests
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make test
  build:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/test

    steps:
      - setup_remote_docker
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "requirements/dev.txt" }}
            - m2- # used if checksum fails
      - run:
          name: Install Dev dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install-dev
      - save_cache:
          key: m2-{{ checksum "requirements/dev.txt" }}
          paths:
            - venv
      - run:
          name: Run tests
          command: |
            docker-compose up test
workflows:
  deploy:
    jobs:
      - test:
          name: test

      - deploy_ansible:
          name: deploy
          requires: [test]
          filters:
              branches:
                only:
                  - master
